{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>{% block title %} {{title}} - {% endblock title%}{{info.firma}}</title>
  <meta name="description" content="{% block description %}{{description}}{% endblock description %}">
  <link rel="stylesheet" href="{% static 'reset.css' %}">
  <link rel="stylesheet" href="{% static 'mobile.css' %}">
  {% block css %}{% endblock css %}

</head>
<body>
  <div class="container">
    <header>
    </header>
    <div class="content">   
      {% block content %}
      {% endblock content%}
    </div> <!--end content -->
    <footer>
      {% block footer%}   
      {% endblock footer %}
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>    
      <script src = "{% static 'js.js' %}" type="text/javascript"></script>
      {% block js %}{% endblock js %}
    </footer>
  </div> <!-- container -->
</script>
</body>
</html>
