{% load staticfiles %}
<!doctype html>
<html lang="en">
  <head>
  	<meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{% block title %} {{title}} - {% endblock title%}{{info.firma}}</title>
    <meta name="description" content="{% block description %}{{description}}{% endblock description %}">
    <link rel="stylesheet" href="{% static 'reset.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% block css %}{% endblock css %}
     <!--[if lte IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
      <style>
  	   .box-text{
   	      font-size: 90%;
        }
      </style>
      <![endif]-->
      <script>
       $(document).ready(function() {
        $('body').css('font-size', window.screen.width/1920 * 100 +"%");
      });
     </script>
     
  </head>
  <body>
    <div class="container">
      <header>
        <a href="/"><img id="logo" src="{{ MEDIA_URL }}{{info.logo}}" alt="Logo"></a>
        <nav id="menu"> 
          <ul>
            {% for item in menu %}
            <li></li>
            {% endfor %}
          </ul>
        </nav>
      </header>

    <div class="content">	
      {% block content %}
      {% endblock content%}
    </div> <!--end content -->
    <footer>
      {% block footer%}	
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>	
      <script src = "{% static 'js.js' %}" type="text/javascript"></script>
      {% block js %}{% endblock js %}
      {% endblock footer %}

    </footer>
  </div> <!-- container -->
</script>
</body>
</html>
